@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@200;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body, html {
  overflow-x: hidden;
}