
.section-missao{
    /* height: 50vh; */
    /* background-image: url(../img/Design\ sem\ nome\ \(1\).png); */
    background-color: #fff;
}

.section-missao h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    color: #010101;
}

.box-m{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}
.icon {
  background-color: #757D92;
  padding: 20px 20px;
  border-radius: 10px;
  width: 400px;
}

.icon button {
    margin-left: 140px;
    margin-bottom: 10px;
}
.icon p {
    width: 70%;
    text-align: center;
    margin-left: 70px;
}

.icon-img {
    width: 100px;
}

/* From uiverse.io by @meermubashar */
button {
    width: 120px;
    height: 30px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
   }
   
   button:hover::before {
    width: 100%;
   }
   
   button:hover {
    color: black;
   }
   
   button:active:before {
    background: #b9b9b9;
   }   

   /* Aplicando Responsividade na Section Missão */

   @media(max-width:1100px){
    .icon {
        background-color: #757D92;
        padding: 10px 5px;
        border-radius: 10px;
        width: 300px;
      }

      .icon p {
        width: 70%;
        text-align: start;
        margin-left: 70px;
    }

    .icon button {
        margin-left: 100px;
        margin-bottom: 10px;
    }
  }

  @media(max-width:900px){
    .icon {
        background-color: #757D92;
        padding: 10px 5px;
        border-radius: 10px;
        width: 220px;
      }

      .box-m{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
    }

      button {
        width: 110px;
        height: 30px;
        font-size: 23px;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        color: white;
        font-weight: 500;
        position: relative;
        transition: all 0.5s;
        z-index: 1;
       }

      .icon p {
        font-size: 15px;
        width: 60%;
        text-align: start;
        margin-left: 70px;
    }

    .icon button {
        margin-left: 50px;
        margin-bottom: 10px;
    }
  }

  @media(max-width:700px){
    .section-missao h2 {
        font-family: 'Amatic SC', cursive;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding: 10px 20px;
        color: #010101;
  }
  .box-m{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

  }


   
